            body
            { 
                background: #ffffff url("../images/f0490e70bd54c7168caf45a2b59f9df0.png") repeat fixed top left;
            }
            div.hor_menu a
            {
                color:brown;
                margin-left: 10px;
                margin-right: 10px;
                text-decoration: none;
                font-size:20px;
            }
            div.hor_menu a:hover
            {
                color:grey
            }
            div.ver_menu a
            {
                color:brown;
                margin-left: 10px;
                text-decoration: none;
                display:block;
                height: 100%;
            }
            div.ver_menu a:hover
            {
                color:grey
            }
            div.phan_trang a
            {
                font-size:20px;
                margin-left:5px;
                margin-right:5px;
                text-decoration: none;
                color:black;
            }
            div.phan_trang a:hover
            {
                color:red
            }
            table, tr, td
            {
                padding: 0 0 0 0;
            }
            



